@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #812938 16.62%, #c0492e 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-img {
    height: 52px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #FFF2E7;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
    padding: 24px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-titulo {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 69px;
    color: #FFF2E7;
}

.conteudo-principal-subtitulo {
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    color: #ECD6C4;
}

.conteudo-principal-botao {
    background: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 67px;
    width: 185px;
    font-size: 24px;
}

.conteudo-principal-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-img {
    width: 294.13px;
    height: 329.31px;
}

.conteudo-secundario {
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    gap: 32px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7; 
    padding: 10px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFF2E7;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #ECD6C4;
}

.rodape {
    border-top: 0.4px solid #FFF2E7;
    padding: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}